/* 주석 달기 */
/*
.radio
{
float: left;
margin: 10px;
}
*/

#cTree-selCTreeVarModal, #cTree-selCTreeTargetVarModal,
#ranger-selRangerVarModal, #ranger-selRangerTargetVarModal, 
#randomForest-selRandomForestVarModal, #randomForest-selRandomForestTargetVarModal,
#linearReg-selLinearRegVarModal, #linearReg-selLinearRegTargetVarModal,
#logisticReg-selLogisticRegVarModal, #logisticReg-selLogisticRegTargetVarModal,
#kmeans-selClusteringVarModal,
#density1-selModal, #barCount-selModal,
#selValidateVarModal,
#prComp-selPrCompVarModal
{
width: 1200px;
}

div[id="scatter1-selModal"] .radio,
div[id="barCount-selModal"] .radio,
div[id="density1-selModal"] .radio,
div[id="cTree-selCTreeVarModal"] .checkbox,
div[id="cTree-selCTreeTargetVarModal"] .radio,
div[id="ranger-selRangerVarModal"] .checkbox,
div[id="ranger-selRangerTargetVarModal"] .radio,
div[id="randomForest-selRandomForestVarModal"] .checkbox,
div[id="randomForest-selRandomForestTargetVarModal"] .radio,
div[id="linearReg-selLinearRegVarModal"] .checkbox,
div[id="linearReg-selLinearRegTargetVarModal"] .radio,
div[id="logisticReg-selLogisticRegVarModal"] .checkbox,
div[id="logisticReg-selLogisticRegTargetVarModal"] .radio,
div[id="prComp-selPrCompVarModal"] .checkbox,
#kmeans-selClusteringVarModal .checkbox,
#selValidateVarModal .checkbox
{
float: left;
margin: 10px;
}


#ModalRadioButtons {
width: 1200px;
}


#ModalRadioButtons .radio {
float: left;
margin: 10px;
}

#fitOption .radio {
float: left;
margin: 10px;
}

#selModal .checkbox {
float: left;
margin: 10px;
}


#shiny-modal {
width: 1600px;
}

#shiny-modal .shiny-input-container {
float: left; 
margin: 10px;
}


#selModal {
width: 1200px;
}

#selModal .radio {
float: left;
margin: 10px;
}


#scatter1-selModal {
width: 1200px;
}

#scatterGirafe1-selModal  .radio {
float: left;
margin: 10px;
}

#scatterGirafe1-selModal {
width: 1200px;
}




#boxplot2-selModal {
width: 1200px;
}
#boxplot2-selModal  .radio {
float: left;
margin: 10px;
}
#boxplot3-selModal {
width: 1200px;
}
#boxplot3-selModal  .radio {
float: left;
margin: 10px;
}

#violin1-selModal {
width: 1200px;
}
#violin1-selModal  .radio {
float: left;
margin: 10px;
}

#bar1-selModal {
width: 1200px;
}
#bar1-selModal  .radio {
float: left;
margin: 10px;
}

#histogram1-selModal {
width: 1200px;
}
#histogram1-selModal  .radio {
float: left;
margin: 10px;
}



#exploreTable2-selModalTable_catVar1 {
width: 1200px;
}
#exploreTable2-selModalTable_catVar1 .radio
{float: left;
margin: 10px;
}

#exploreTable2-selModalTable_catVar1 .checkbox
{float: left;
margin: 10px;
}

#exploreTable2-selModalTable_catVar2 {
width: 1200px;
}
#exploreTable2-selModalTable_catVar2  .radio {
float: left;
margin: 10px;
}

#exploreTable2-selModalTable_catVar3 {
width: 1200px;
}
#exploreTable2-selModalTable_catVar3  .radio {
float: left;
margin: 10px;
}

#exploreTable2-selModalTable_contVar {
width: 1200px;
}
#exploreTable2-selModalTable_contVar  .checkbox {
float: left;
margin: 10px;
}

#selModelResultReport {
width: 1200px;
}

#selModelResultReport .radio {
float: left;
margin: 10px;
}